.nav-container {
    display: flex;
    padding-top: 4rem;
    justify-content: space-between;
    align-items:flex-start;
}

.nav-links {
    box-shadow: -3px 1px 16px rgba(0, 0, 3, 0.8); 
    background: linear-gradient(to right, var(--logo-gradient-first-color), var(--logo-gradient-second-color)) ;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.nav-span{
    padding: 1rem 0 0 0 ;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(120%);
    font-size: 16px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nav-links:hover {
    cursor: pointer;
}

.nav-links-container:hover .nav-span {
    opacity: 1;
    visibility: visible;
}

.nav-links-img {
    color: white;
    width: 60%;
    height: 60%;
}