:root{
  --primary-font: 'Open Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
  --primary-font-weight: 400 ;
  --primary-font-color: #f3faff ;
  --primary-font-size: 24px;
  
  --gradient-first-color: #45515c ;
  --gradient-second-color: #8E8086 ;
  --secondary-gradient-first-color: #081b2c ;
  --secondary-gradient-second-color: #598596 ;
  --logo-gradient-first-color: #196f74 ;
  --logo-gradient-second-color: #939393 ;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, var(--gradient-first-color) , var(--gradient-second-color));
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  color: var(--primary-font-color);
  font-size: var(--primary-font-size);
  /* background-image: url("background.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; */
}