/* .education-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 2rem 0 2rem 0 ;
    gap: 1rem;
} */

.toggle-container {
    margin: 2rem 0 1rem 0;
    background: linear-gradient(to right, var(--secondary-gradient-first-color), var(--secondary-gradient-second-color));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.toggle-option {
    border-radius: 30px;
    height: 100%;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex: 1;
}

.selected {
    color: rgb(59, 59, 59);
    background-color: white;
}
